AWS_ACCESS_KEY_ID=<AWS Access Key ID>
AWS_SECRET_ACCESS_KEY=<AWS Secret Access Key>
ES_HOST=<ES Host Endpoint>

AUTH0_URL=<AUTH0 URL>
AUTH0_AUDIENCE=<AUTH0 Audience>
TOKEN_CACHE_TIME=500000
AUTH0_CLIENT_ID=<AUTH0 Client ID>
AUTH0_CLIENT_SECRET=<AUTH0 Client Secret>
